.nav-not-fixed {
  position: relative !important;
}

.guides-section {
  -webkit-column-count: 4;
          column-count: 4;
  -webkit-column-gap: 2em;
          column-gap: 2em;
  margin: 0 15vmin;
  padding: 50px 0;
}

.guide {
  font-size: 0;
  cursor: pointer;
  display: inline-block;
  width: 100%;
  margin-top: 50px;
}

.guide img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.guide h1 {
  font-size: 24px;
  width: 100%;
  background-color: #0009;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

.guide h1::-moz-selection {
  background: transparent;
}

.guide h1::selection {
  background: transparent;
}

.guide-title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.guide-title-wrapper .guide-image {
  -webkit-transition: -webkit-transform 0.3s ease-in-out ,  -webkit-filter 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out ,  -webkit-filter 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out ,  filter 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out ,  filter 0.3s ease-in-out ,  -webkit-transform 0.3s ease-in-out ,  -webkit-filter 0.3s ease-in-out;
  display: block;
  width: 100%;
  height: 100vh;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%, 50%;
}

.guide-title-wrapper .guide-title-info-wrapper {
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.guide-title-wrapper .guide-title-info-wrapper .guide-title-info {
  display: inline-block;
}

.guide-title-wrapper .guide-title-info-wrapper a {
  display: block;
  margin: 35px 0;
}

.guide-title-wrapper .guide-title-info-wrapper h1 {
  font-size: 54px;
}

.guide-title-wrapper .guide-title-info-wrapper::before {
  content: '';
  position: absolute;
  left: -100px;
  top: 0;
  bottom: 0;
  width: 200px;
  background-color: #2e3035;
  -webkit-transform: skewX(-4deg);
          transform: skewX(-4deg);
}

.bodyGuide-image {
  background-image: url(../images/16.jpg);
}

*::before, *::after, * {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

body {
  background: #2e3035;
  color: white !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
}

/*Other Classes*/
.mobile-height {
  height: 86px;
}

nav {
  -webkit-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
  overflow: hidden;
  height: 76px;
  position: fixed;
  width: 100%;
  z-index: 1;
  background: #18191c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #5e5e5e;
  padding: 10px 0;
}

nav img {
  width: 150px;
  padding: 15px 20px;
}

.burger-btn {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: none;
  margin-top: 13px;
  margin-right: 20px;
  width: 40px;
  height: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.burger-btn span {
  position: relative;
  width: 80%;
  height: 3px;
  background-color: #fff;
}

.burger-btn span::before {
  content: '';
  position: absolute;
  top: -10px;
  width: 100%;
  height: 3px;
  background-color: #fff;
}

.burger-btn span::after {
  content: '';
  position: absolute;
  top: 10px;
  width: 100%;
  height: 3px;
  background-color: #fff;
}

.mobile-toggle {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.mobile-toggle span {
  visibility: hidden;
}

.mobile-toggle span::before {
  visibility: visible;
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.mobile-toggle span::after {
  visibility: visible;
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.logo-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  margin-right: auto;
}

.menu ul {
  font-size: 0.7rem;
  font-weight: 1000;
  margin: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu ul li {
  margin-right: 17px;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.search p span {
  margin-right: 3px;
  font-size: 0.7rem;
}

.search p span a {
  color: #737f8a;
}

.search p span a:hover {
  color: #EC4B28;
}

.search-bar {
  width: 100%;
}

.search-input {
  outline: none;
  background-color: #444f57;
  border-radius: 20px;
  border-style: none;
  width: 100%;
  padding: 12px;
  color: #fff;
}

.search-input:focus::-webkit-input-placeholder {
  color: #444f57;
}

.search-input:focus:-ms-input-placeholder {
  color: #444f57;
}

.search-input:focus::-ms-input-placeholder {
  color: #444f57;
}

.search-input:focus::placeholder {
  color: #444f57;
}

.line {
  width: 1px;
  background-color: #fff;
  height: 38px;
  margin: 0 25px;
}

.search-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.login {
  margin-top: -15px;
  display: block;
  white-space: nowrap;
}

.login a {
  display: inline-block;
  white-space: nowrap;
}

.login a:last-of-type {
  background-color: #28d364;
  border-radius: 4px;
  padding: 10px 8px;
  margin-right: 15px;
  margin-left: 15px;
}

.logged {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 40px 0 10px;
}

.logged img {
  -o-object-fit: cover;
     object-fit: cover;
  padding: 0px !important;
  width: 64px;
  height: 64px;
  border: 2px solid #5e5e5e;
}

.logged .login-info {
  padding-left: 8px;
}

.logged .login-info a p {
  font-weight: 1000;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.9);
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #36393f;
  border-radius: 5px;
  width: 25%;
  position: relative;
  -webkit-transition: all 5s ease-in-out;
  transition: all 5s ease-in-out;
}

.popup p {
  text-align: center;
  font-size: 0.8rem;
  font-weight: 30;
  margin-top: 0;
  margin-bottom: 10px;
  color: #fff;
  font-family: Tahoma, Arial, sans-serif;
}

#popup1 .close, #popup2 .close {
  position: absolute;
  top: 20px;
  right: 30px;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

#popup1 .close:hover, #popup2 .close:hover {
  color: #FF5733;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}

.integration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 15px;
}

.integration a {
  background-color: #191919;
  padding: 4px 20px;
  border-radius: 5px;
  border-bottom: 5px solid;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  border-bottom-color: #3b5998;
}

.integration a:nth-of-type(2) {
  border-bottom-color: #4099FF;
}

.integration a:nth-of-type(3) {
  border-bottom-color: #4285F4;
}

.integration a:nth-of-type(4) {
  border-bottom-color: #fc9403;
}

.integration a:nth-of-type(1):hover {
  background-color: #3b5998;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.integration a:nth-of-type(2):hover {
  background-color: #4099FF;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.integration a:nth-of-type(3):hover {
  background-color: #4285F4;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.integration a:nth-of-type(4):hover {
  background-color: #fc9403;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.integration img {
  -webkit-filter: invert(1);
          filter: invert(1);
  width: 35px !important;
  padding: 0;
}

.or-block {
  position: relative;
}

.or-block p {
  position: relative;
  background: #36393f;
  padding: .5em;
  z-index: 2;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.or-line {
  height: 1px;
  background: #ccc;
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 1;
}

.forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.forms input {
  color: #fff;
  outline: none;
  margin-bottom: 10px;
  background-color: #191919;
  border: 1px solid transparent;
  padding: 5px 10px;
  border-radius: 4px;
  width: 350px;
  height: 32px;
}

.forms input:focus::-webkit-input-placeholder {
  color: #191919;
}

.forms input:focus:-ms-input-placeholder {
  color: #191919;
}

.forms input:focus::-ms-input-placeholder {
  color: #191919;
}

.forms input:focus::placeholder {
  color: #191919;
}

.registration {
  margin-top: 15px;
  text-align: center;
}

.registration a:first-of-type {
  color: #7c877f;
  margin-right: 3px;
  font-size: 0.9rem;
}

.registration a:first-of-type:hover {
  color: #fff;
}

.registration a:last-of-type {
  white-space: nowrap;
  padding: 10px 12px;
  background-color: #28d364;
  border-radius: 4px;
  margin-right: 3px;
}

.sort-block {
  background: #18191c;
  border-bottom: 1px solid #818384;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0 10px 20px;
  padding-top: 94.31px;
  width: 100%;
}

.sort-block p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
  font-size: 1.1rem;
  font-weight: 700;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sort-block img {
  margin-left: 8px;
  width: 12px;
  height: 12px;
}

.sort-block .dropdown {
  padding: 12px 0px;
}

.sort-block .drop-content {
  margin-top: 12px;
  display: none;
  position: absolute;
  background-color: #18191c;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.sort-block .drop-content p {
  margin-right: 0px;
  padding: 12px 16px;
  display: block;
}

.sort-block .drop-content p:hover {
  cursor: pointer;
  background-color: #36393f;
}

.sort-block .dropdown:hover .drop-content {
  display: block;
}

.sort-icon {
  width: 40px;
  height: 40px;
  position: relative;
}

.sort-icon span {
  position: absolute;
  width: 35%;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  height: 3px;
  background-color: #fff;
}

.sort-icon span::before {
  content: '';
  position: absolute;
  top: -6px;
  width: 150%;
  height: 3px;
  background-color: #fff;
}

.sort-icon span::after {
  content: '';
  position: absolute;
  top: 6px;
  width: 60%;
  height: 3px;
  background-color: #fff;
}

.images-grid {
  overflow: hidden;
  -webkit-column-count: 4;
          column-count: 4;
  -webkit-column-gap: 1em;
          column-gap: 1em;
  margin: 0 15vmin;
  padding: 50px 0;
}

.images-grid figure {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 100%;
  margin-top: 20px;
}

.images-grid img {
  border: 1px solid #000;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  -webkit-filter: grayscale(0) blur(0);
          filter: grayscale(0) blur(0);
}

.images-grid img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  -webkit-filter: grayscale(50%) blur(2px);
          filter: grayscale(50%) blur(2px);
}

.scroll {
  bottom: -60px;
}

.scrollbottom {
  bottom: 0;
}

.footer-block {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 3;
  white-space: nowrap;
  background-color: #2e3035;
  height: 50px;
  line-height: 50px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  -webkit-transition-property: bottom;
  transition-property: bottom;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 24px;
  font-size: 13px;
  letter-spacing: .5px;
  text-align: left;
  width: 100%;
}

.footer-menu li {
  display: inline-block;
  margin: auto 20px;
  vertical-align: center;
}

#themedisplay {
  font-size: 2rem;
  font-weight: 1000;
}

#timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#timer img {
  -webkit-filter: invert(1);
          filter: invert(1);
  width: 24px;
  margin-right: 5px;
}

#time {
  font-size: 1.4rem;
  font-weight: 700;
}

#addblock {
  margin: 30px 0 0 30px;
}

.drawnav {
  position: unset;
  width: 100%;
  z-index: 1;
  background: #18191c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #5e5e5e;
}

.drawnav img {
  width: 200px;
  padding: 15px 20px;
}

#drawbox {
  background-color: #18191c;
  width: 100%;
  margin: 25px;
}

#drawing-Upper {
  margin: 0 30px 30px 30px;
  width: 1350px;
  height: 800px;
}

#drawing {
  position: relative;
  display: block;
  background-color: #fff;
  border: 2px solid #000;
}

#Clear {
  margin: 0 5px 5px 0;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #000;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  padding: 5px;
}

#Clear::-moz-selection {
  background: transparent;
}

#Clear::selection {
  background: transparent;
}

.drawing-color {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  bottom: 5px;
  cursor: pointer;
}

.black-color {
  background-color: #000;
  left: 5px;
}

.brown-color {
  background-color: #e3b129;
  left: 40px;
}

.lightblue-color {
  background-color: #65a8a3;
  left: 75px;
}

.turquoise-color {
  background-color: #00f5e3;
  left: 110px;
}

.lightgray-color {
  background-color: #adadad;
  left: 145px;
}

.darkblue-color {
  background-color: #002aff;
  left: 180px;
}

.sizes-block {
  position: absolute;
  left: 230px;
  z-index: 10;
  bottom: 10px;
}

.sizes-block .size {
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  padding: 3px 7px;
  background-color: #000;
  margin: 0 5px;
  cursor: pointer;
}

.sizes-block .size:hover {
  background-color: #3b3b3b;
}

@media screen and (max-width: 1200px) {
  .images-grid {
    -webkit-column-count: 2;
            column-count: 2;
    margin: 0 10vmin;
  }
  nav {
    height: 270px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .burger-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
  }
  .menu {
    position: absolute;
    top: 76px;
  }
  .menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu ul li {
    margin: 10px 0 10px 10px;
  }
  .line {
    display: none;
  }
  .search-login {
    margin-left: auto;
    margin-right: 20px;
  }
  .search {
    margin-top: 15px;
  }
  .login {
    top: 200px;
    left: 20px;
    position: absolute;
  }
  .logged {
    top: 190px;
    left: 20px;
    position: absolute;
    padding: 0;
  }
  .guides-section {
    -webkit-column-count: 2;
            column-count: 2;
    margin: 0 20px;
  }
}

@media screen and (max-width: 800px) {
  .images-grid {
    -webkit-column-count: 1;
            column-count: 1;
  }
  nav {
    height: 360px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .search-login {
    position: absolute;
    left: 20px;
    top: 260px;
  }
  .login {
    top: 200px;
    left: 20px;
    position: absolute;
  }
  .tags li {
    display: inline-block;
  }
  .tags li a {
    display: inline-block;
  }
  .guides-section {
    -webkit-column-count: 1;
            column-count: 1;
  }
}
/*# sourceMappingURL=index.css.map */